In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/home-credit-credit-risk-model-stability/sample_submission.csv
/kaggle/input/home-credit-credit-risk-model-stability/feature_definitions.csv
/kaggle/input/home-credit-credit-risk-model-stability/parquet_files/test/test_deposit_1.parquet
/kaggle/input/home-credit-credit-risk-model-stability/parquet_files/test/test_applprev_2.parquet
/kaggle/input/home-credit-credit-risk-model-stability/parquet_files/test/test_static_cb_0.parquet
/kaggle/input/home-credit-credit-risk-model-stability/parquet_files/test/test_static_0_0.parquet
/kaggle/input/home-credit-credit-risk-model-stability/parquet_files/test/test_credit_bureau_a_1_3.parquet
/kaggle/input/home-credit-credit-risk-model-stability/parquet_files/test/test_credit_bureau_a_1_2.parquet
/kaggle/input/home-credit-credit-risk-model-stability/parquet_files/test/test_tax_registry_b_1.parquet
/kaggle/input/home-credit-credit-risk-model-stability/parquet_files/test/test_static_0_2.parquet
/kaggle/input/home-credit-credit-risk-model-stability/parquet_files/test/test_credit_bureau_a_2_3.parquet
/kaggle/input/home-credit-credit-risk-model-stability/parquet_files/test/test_credit_bureau_a_2_9.parquet
/kaggle/input/home-credit-credit-risk-model-stability/parquet_files/test/test_debitcard_1.parquet
/kaggle/input/home-credit-credit-risk-model-stability/parquet_files/test/test_credit_bureau_a_1_1.parquet
/kaggle/input/home-credit-credit-risk-model-stability/parquet_files/test/test_credit_bureau_a_2_2.parquet
/kaggle/input/home-credit-credit-risk-model-stability/parquet_files/test/test_credit_bureau_a_2_11.parquet
/kaggle/input/home-credit-credit-risk-model-stability/parquet_files/test/test_applprev_1_2.parquet
/kaggle/input/home-credit-credit-risk-model-stability/parquet_files/test/test_credit_bureau_a_2_1.parquet
/kaggle/input/home-credit-credit-risk-model-stability/parquet_files/test/test_credit_bureau_a_1_4.parquet
/kaggle/input/home-credit-credit-risk-model-stability/parquet_files/test/test_tax_registry_c_1.parquet
/kaggle/input/home-credit-credit-risk-model-stability/parquet_files/test/test_applprev_1_0.parquet
/kaggle/input/home-credit-credit-risk-model-stability/parquet_files/test/test_tax_registry_a_1.parquet
/kaggle/input/home-credit-credit-risk-model-stability/parquet_files/test/test_credit_bureau_a_2_6.parquet
/kaggle/input/home-credit-credit-risk-model-stability/parquet_files/test/test_credit_bureau_a_2_5.parquet
/kaggle/input/home-credit-credit-risk-model-stability/parquet_files/test/test_credit_bureau_b_1.parquet
/kaggle/input/home-credit-credit-risk-model-stability/parquet_files/test/test_other_1.parquet
/kaggle/input/home-credit-credit-risk-model-stability/parquet_files/test/test_static_0_1.parquet
/kaggle/input/home-credit-credit-risk-model-stability/parquet_files/test/test_credit_bureau_a_2_0.parquet
/kaggle/input/home-credit-credit-risk-model-stability/parquet_files/test/test_applprev_1_1.parquet
/kaggle/input/home-credit-credit-risk-model-stability/parquet_files/test/test_base.parquet
/kaggle/input/home-credit-credit-risk-model-stability/parquet_files/test/test_person_1.parquet
/kaggle/input/home-credit-credit-risk-model-stability/parquet_files/test/test_credit_bureau_a_2_7.parquet
/kaggle/input/home-credit-credit-risk-model-stability/parquet_files/test/test_credit_bureau_a_2_10.parquet
/kaggle/input/home-credit-credit-risk-model-stability/parquet_files/test/test_credit_bureau_b_2.parquet
/kaggle/input/home-credit-credit-risk-model-stability/parquet_files/test/test_credit_bureau_a_2_8.parquet
/kaggle/input/home-credit-credit-risk-model-stability/parquet_files/test/test_credit_bureau_a_1_0.parquet
/kaggle/input/home-credit-credit-risk-model-stability/parquet_files/test/test_credit_bureau_a_2_4.parquet
/kaggle/input/home-credit-credit-risk-model-stability/parquet_files/test/test_person_2.parquet
/kaggle/input/home-credit-credit-risk-model-stability/parquet_files/train/train_tax_registry_c_1.parquet
/kaggle/input/home-credit-credit-risk-model-stability/parquet_files/train/train_static_0_0.parquet
/kaggle/input/home-credit-credit-risk-model-stability/parquet_files/train/train_credit_bureau_a_1_3.parquet
/kaggle/input/home-credit-credit-risk-model-stability/parquet_files/train/train_credit_bureau_b_2.parquet
/kaggle/input/home-credit-credit-risk-model-stability/parquet_files/train/train_applprev_1_1.parquet
/kaggle/input/home-credit-credit-risk-model-stability/parquet_files/train/train_static_cb_0.parquet
/kaggle/input/home-credit-credit-risk-model-stability/parquet_files/train/train_other_1.parquet
/kaggle/input/home-credit-credit-risk-model-stability/parquet_files/train/train_credit_bureau_a_2_6.parquet
/kaggle/input/home-credit-credit-risk-model-stability/parquet_files/train/train_tax_registry_a_1.parquet
/kaggle/input/home-credit-credit-risk-model-stability/parquet_files/train/train_tax_registry_b_1.parquet
/kaggle/input/home-credit-credit-risk-model-stability/parquet_files/train/train_credit_bureau_a_2_1.parquet
/kaggle/input/home-credit-credit-risk-model-stability/parquet_files/train/train_person_1.parquet
/kaggle/input/home-credit-credit-risk-model-stability/parquet_files/train/train_person_2.parquet
/kaggle/input/home-credit-credit-risk-model-stability/parquet_files/train/train_credit_bureau_b_1.parquet
/kaggle/input/home-credit-credit-risk-model-stability/parquet_files/train/train_credit_bureau_a_2_0.parquet
/kaggle/input/home-credit-credit-risk-model-stability/parquet_files/train/train_credit_bureau_a_2_7.parquet
/kaggle/input/home-credit-credit-risk-model-stability/parquet_files/train/train_deposit_1.parquet
/kaggle/input/home-credit-credit-risk-model-stability/parquet_files/train/train_debitcard_1.parquet
/kaggle/input/home-credit-credit-risk-model-stability/parquet_files/train/train_credit_bureau_a_2_5.parquet
/kaggle/input/home-credit-credit-risk-model-stability/parquet_files/train/train_credit_bureau_a_2_2.parquet
/kaggle/input/home-credit-credit-risk-model-stability/parquet_files/train/train_credit_bureau_a_2_4.parquet
/kaggle/input/home-credit-credit-risk-model-stability/parquet_files/train/train_base.parquet
/kaggle/input/home-credit-credit-risk-model-stability/parquet_files/train/train_credit_bureau_a_2_9.parquet
/kaggle/input/home-credit-credit-risk-model-stability/parquet_files/train/train_credit_bureau_a_2_3.parquet
/kaggle/input/home-credit-credit-risk-model-stability/parquet_files/train/train_applprev_2.parquet
/kaggle/input/home-credit-credit-risk-model-stability/parquet_files/train/train_credit_bureau_a_2_10.parquet
/kaggle/input/home-credit-credit-risk-model-stability/parquet_files/train/train_credit_bureau_a_2_8.parquet
/kaggle/input/home-credit-credit-risk-model-stability/parquet_files/train/train_credit_bureau_a_1_2.parquet
/kaggle/input/home-credit-credit-risk-model-stability/parquet_files/train/train_static_0_1.parquet
/kaggle/input/home-credit-credit-risk-model-stability/parquet_files/train/train_credit_bureau_a_1_0.parquet
/kaggle/input/home-credit-credit-risk-model-stability/parquet_files/train/train_credit_bureau_a_1_1.parquet
/kaggle/input/home-credit-credit-risk-model-stability/parquet_files/train/train_applprev_1_0.parquet
/kaggle/input/home-credit-credit-risk-model-stability/csv_files/test/test_credit_bureau_a_2_6.csv
/kaggle/input/home-credit-credit-risk-model-stability/csv_files/test/test_credit_bureau_a_2_11.csv
/kaggle/input/home-credit-credit-risk-model-stability/csv_files/test/test_credit_bureau_a_2_0.csv
/kaggle/input/home-credit-credit-risk-model-stability/csv_files/test/test_credit_bureau_a_2_9.csv
/kaggle/input/home-credit-credit-risk-model-stability/csv_files/test/test_base.csv
/kaggle/input/home-credit-credit-risk-model-stability/csv_files/test/test_credit_bureau_a_1_1.csv
/kaggle/input/home-credit-credit-risk-model-stability/csv_files/test/test_credit_bureau_b_2.csv
/kaggle/input/home-credit-credit-risk-model-stability/csv_files/test/test_credit_bureau_a_2_10.csv
/kaggle/input/home-credit-credit-risk-model-stability/csv_files/test/test_credit_bureau_a_2_4.csv
/kaggle/input/home-credit-credit-risk-model-stability/csv_files/test/test_static_0_0.csv
/kaggle/input/home-credit-credit-risk-model-stability/csv_files/test/test_static_cb_0.csv
/kaggle/input/home-credit-credit-risk-model-stability/csv_files/test/test_credit_bureau_a_2_2.csv
/kaggle/input/home-credit-credit-risk-model-stability/csv_files/test/test_credit_bureau_b_1.csv
/kaggle/input/home-credit-credit-risk-model-stability/csv_files/test/test_tax_registry_b_1.csv
/kaggle/input/home-credit-credit-risk-model-stability/csv_files/test/test_person_2.csv
/kaggle/input/home-credit-credit-risk-model-stability/csv_files/test/test_person_1.csv
/kaggle/input/home-credit-credit-risk-model-stability/csv_files/test/test_credit_bureau_a_2_8.csv
/kaggle/input/home-credit-credit-risk-model-stability/csv_files/test/test_applprev_1_2.csv
/kaggle/input/home-credit-credit-risk-model-stability/csv_files/test/test_applprev_1_1.csv
/kaggle/input/home-credit-credit-risk-model-stability/csv_files/test/test_credit_bureau_a_1_0.csv
/kaggle/input/home-credit-credit-risk-model-stability/csv_files/test/test_applprev_2.csv
/kaggle/input/home-credit-credit-risk-model-stability/csv_files/test/test_credit_bureau_a_2_7.csv
/kaggle/input/home-credit-credit-risk-model-stability/csv_files/test/test_other_1.csv
/kaggle/input/home-credit-credit-risk-model-stability/csv_files/test/test_tax_registry_c_1.csv
/kaggle/input/home-credit-credit-risk-model-stability/csv_files/test/test_credit_bureau_a_1_3.csv
/kaggle/input/home-credit-credit-risk-model-stability/csv_files/test/test_static_0_2.csv
/kaggle/input/home-credit-credit-risk-model-stability/csv_files/test/test_credit_bureau_a_2_5.csv
/kaggle/input/home-credit-credit-risk-model-stability/csv_files/test/test_credit_bureau_a_1_2.csv
/kaggle/input/home-credit-credit-risk-model-stability/csv_files/test/test_debitcard_1.csv
/kaggle/input/home-credit-credit-risk-model-stability/csv_files/test/test_credit_bureau_a_1_4.csv
/kaggle/input/home-credit-credit-risk-model-stability/csv_files/test/test_deposit_1.csv
/kaggle/input/home-credit-credit-risk-model-stability/csv_files/test/test_static_0_1.csv
/kaggle/input/home-credit-credit-risk-model-stability/csv_files/test/test_credit_bureau_a_2_1.csv
/kaggle/input/home-credit-credit-risk-model-stability/csv_files/test/test_applprev_1_0.csv
/kaggle/input/home-credit-credit-risk-model-stability/csv_files/test/test_tax_registry_a_1.csv
/kaggle/input/home-credit-credit-risk-model-stability/csv_files/test/test_credit_bureau_a_2_3.csv
/kaggle/input/home-credit-credit-risk-model-stability/csv_files/train/train_credit_bureau_a_1_3.csv
/kaggle/input/home-credit-credit-risk-model-stability/csv_files/train/train_static_cb_0.csv
/kaggle/input/home-credit-credit-risk-model-stability/csv_files/train/train_applprev_1_0.csv
/kaggle/input/home-credit-credit-risk-model-stability/csv_files/train/train_person_2.csv
/kaggle/input/home-credit-credit-risk-model-stability/csv_files/train/train_base.csv
/kaggle/input/home-credit-credit-risk-model-stability/csv_files/train/train_tax_registry_a_1.csv
/kaggle/input/home-credit-credit-risk-model-stability/csv_files/train/train_static_0_0.csv
/kaggle/input/home-credit-credit-risk-model-stability/csv_files/train/train_credit_bureau_a_1_0.csv
/kaggle/input/home-credit-credit-risk-model-stability/csv_files/train/train_applprev_2.csv
/kaggle/input/home-credit-credit-risk-model-stability/csv_files/train/train_credit_bureau_a_2_6.csv
/kaggle/input/home-credit-credit-risk-model-stability/csv_files/train/train_credit_bureau_a_1_2.csv
/kaggle/input/home-credit-credit-risk-model-stability/csv_files/train/train_person_1.csv
/kaggle/input/home-credit-credit-risk-model-stability/csv_files/train/train_credit_bureau_a_1_1.csv
/kaggle/input/home-credit-credit-risk-model-stability/csv_files/train/train_tax_registry_c_1.csv
/kaggle/input/home-credit-credit-risk-model-stability/csv_files/train/train_credit_bureau_a_2_4.csv
/kaggle/input/home-credit-credit-risk-model-stability/csv_files/train/train_credit_bureau_a_2_9.csv
/kaggle/input/home-credit-credit-risk-model-stability/csv_files/train/train_credit_bureau_a_2_3.csv
/kaggle/input/home-credit-credit-risk-model-stability/csv_files/train/train_credit_bureau_a_2_7.csv
/kaggle/input/home-credit-credit-risk-model-stability/csv_files/train/train_credit_bureau_b_2.csv
/kaggle/input/home-credit-credit-risk-model-stability/csv_files/train/train_credit_bureau_a_2_2.csv
/kaggle/input/home-credit-credit-risk-model-stability/csv_files/train/train_static_0_1.csv
/kaggle/input/home-credit-credit-risk-model-stability/csv_files/train/train_deposit_1.csv
/kaggle/input/home-credit-credit-risk-model-stability/csv_files/train/train_credit_bureau_a_2_10.csv
/kaggle/input/home-credit-credit-risk-model-stability/csv_files/train/train_tax_registry_b_1.csv
/kaggle/input/home-credit-credit-risk-model-stability/csv_files/train/train_applprev_1_1.csv
/kaggle/input/home-credit-credit-risk-model-stability/csv_files/train/train_credit_bureau_a_2_1.csv
/kaggle/input/home-credit-credit-risk-model-stability/csv_files/train/train_credit_bureau_a_2_8.csv
/kaggle/input/home-credit-credit-risk-model-stability/csv_files/train/train_credit_bureau_a_2_5.csv
/kaggle/input/home-credit-credit-risk-model-stability/csv_files/train/train_credit_bureau_b_1.csv
/kaggle/input/home-credit-credit-risk-model-stability/csv_files/train/train_credit_bureau_a_2_0.csv
/kaggle/input/home-credit-credit-risk-model-stability/csv_files/train/train_other_1.csv
/kaggle/input/home-credit-credit-risk-model-stability/csv_files/train/train_debitcard_1.csv

## 資料探索與前處理

### 資料概覽
##### 列出主要的數據特徵及統計摘要

In [2]:
# 訓練資料的目錄
projDir = "/kaggle/input/home-credit-credit-risk-model-stability/"
trainDir = os.path.join(projDir, "csv_files/train/")

# 列出目錄下所有文件
files = os.listdir(trainDir)

# 依檔名排序
files = sorted(files)

# 印出文件名稱
for file in files:
    print(file)
    
# 計算文件數量
num_files = len(files)
print("目錄下有", num_files, "個訓練資料文件")

del num_files

train_applprev_1_0.csv
train_applprev_1_1.csv
train_applprev_2.csv
train_base.csv
train_credit_bureau_a_1_0.csv
train_credit_bureau_a_1_1.csv
train_credit_bureau_a_1_2.csv
train_credit_bureau_a_1_3.csv
train_credit_bureau_a_2_0.csv
train_credit_bureau_a_2_1.csv
train_credit_bureau_a_2_10.csv
train_credit_bureau_a_2_2.csv
train_credit_bureau_a_2_3.csv
train_credit_bureau_a_2_4.csv
train_credit_bureau_a_2_5.csv
train_credit_bureau_a_2_6.csv
train_credit_bureau_a_2_7.csv
train_credit_bureau_a_2_8.csv
train_credit_bureau_a_2_9.csv
train_credit_bureau_b_1.csv
train_credit_bureau_b_2.csv
train_debitcard_1.csv
train_deposit_1.csv
train_other_1.csv
train_person_1.csv
train_person_2.csv
train_static_0_0.csv
train_static_0_1.csv
train_static_cb_0.csv
train_tax_registry_a_1.csv
train_tax_registry_b_1.csv
train_tax_registry_c_1.csv
目錄下有 32 個訓練資料文件

In [3]:
# 遍歷每個文件，僅顯示前幾行資料概況
for file in files:
    # 組合完整的檔案路徑
    file_path = os.path.join(trainDir, file)
    
    # 讀取文件的前幾行
    df_head = pd.read_csv(file_path, nrows=3)
    
    print("文件名稱:", file)
    print("前3行資料:")
    display(df_head)
    print("\n")
    
del files

文件名稱: train_applprev_1_0.csv
前3行資料:

,case_id,actualdpd_943P,annuity_853A,approvaldate_319D,byoccupationinc_3656910L,cancelreason_3545846M,childnum_21L,creationdate_885D,credacc_actualbalance_314A,credacc_credlmt_575A,...,num_group1,outstandingdebt_522A,pmtnum_8L,postype_4733339M,profession_152M,rejectreason_755M,rejectreasonclient_4145042M,revolvingaccount_394A,status_219L,tenor_203L
0,2,0.0,640.2,NaN,NaN,a55475b1,0.0,2013-04-03,NaN,0.0,...,0,NaN,24.0,a55475b1,a55475b1,a55475b1,a55475b1,NaN,D,24.0
1,2,0.0,1682.4,NaN,NaN,a55475b1,0.0,2013-04-03,NaN,0.0,...,1,NaN,12.0,a55475b1,a55475b1,a55475b1,a55475b1,NaN,D,12.0
2,3,0.0,6140.0,NaN,NaN,P94_109_143,NaN,2019-01-07,NaN,0.0,...,0,NaN,12.0,a55475b1,a55475b1,P94_109_143,a55475b1,NaN,D,12.0

文件名稱: train_applprev_1_1.csv
前3行資料:

,case_id,actualdpd_943P,annuity_853A,approvaldate_319D,byoccupationinc_3656910L,cancelreason_3545846M,childnum_21L,creationdate_885D,credacc_actualbalance_314A,credacc_credlmt_575A,...,num_group1,outstandingdebt_522A,pmtnum_8L,postype_4733339M,profession_152M,rejectreason_755M,rejectreasonclient_4145042M,revolvingaccount_394A,status_219L,tenor_203L
0,40704,0.0,7204.6000,NaN,NaN,P94_109_143,NaN,2018-11-20,NaN,0.0,...,0,NaN,12.0,P46_145_78,a55475b1,P198_131_9,P94_109_143,NaN,D,12.0
1,40734,0.0,3870.2000,NaN,NaN,P94_109_143,NaN,2019-12-26,NaN,0.0,...,0,NaN,18.0,P149_40_170,a55475b1,P45_84_106,P94_109_143,NaN,D,18.0
2,40737,0.0,2324.4001,NaN,1.0,a55475b1,0.0,2014-07-17,NaN,0.0,...,0,0.0,18.0,P46_145_78,a55475b1,a55475b1,a55475b1,NaN,D,18.0

文件名稱: train_applprev_2.csv
前3行資料:

,case_id,cacccardblochreas_147M,conts_type_509L,credacc_cards_status_52L,num_group1,num_group2
0,2,NaN,PRIMARY_MOBILE,NaN,0,0
1,2,NaN,EMPLOYMENT_PHONE,NaN,0,1
2,2,NaN,PRIMARY_MOBILE,NaN,1,0

文件名稱: train_base.csv
前3行資料:

   case_id date_decision   MONTH  WEEK_NUM  target
0        0    2019-01-03  201901         0       0
1        1    2019-01-03  201901         0       0
2        2    2019-01-04  201901         0       0

文件名稱: train_credit_bureau_a_1_0.csv
前3行資料:

,case_id,annualeffectiverate_199L,annualeffectiverate_63L,classificationofcontr_13M,classificationofcontr_400M,contractst_545M,contractst_964M,contractsum_5085717L,credlmt_230A,credlmt_935A,...,residualamount_488A,residualamount_856A,subjectrole_182M,subjectrole_93M,totalamount_6A,totalamount_996A,totaldebtoverduevalue_178A,totaldebtoverduevalue_718A,totaloutstanddebtvalue_39A,totaloutstanddebtvalue_668A
0,388,NaN,NaN,ea6782cc,a55475b1,7241344e,a55475b1,NaN,NaN,135806.0,...,NaN,114325.805,a55475b1,a55475b1,NaN,NaN,NaN,NaN,NaN,NaN
1,388,NaN,NaN,4408ff0f,a55475b1,7241344e,a55475b1,NaN,NaN,NaN,...,NaN,NaN,ab3c25cf,ab3c25cf,NaN,268897.62,0.0,0.0,374419.5,0.0
2,388,NaN,NaN,a55475b1,a55475b1,a55475b1,a55475b1,NaN,NaN,NaN,...,NaN,NaN,a55475b1,a55475b1,NaN,NaN,NaN,NaN,NaN,NaN

文件名稱: train_credit_bureau_a_1_1.csv
前3行資料:

,case_id,annualeffectiverate_199L,annualeffectiverate_63L,classificationofcontr_13M,classificationofcontr_400M,contractst_545M,contractst_964M,contractsum_5085717L,credlmt_230A,credlmt_935A,...,residualamount_488A,residualamount_856A,subjectrole_182M,subjectrole_93M,totalamount_6A,totalamount_996A,totaldebtoverduevalue_178A,totaldebtoverduevalue_718A,totaloutstanddebtvalue_39A,totaloutstanddebtvalue_668A
0,19694,NaN,NaN,ea6782cc,a55475b1,7241344e,a55475b1,NaN,NaN,0.0,...,NaN,0.0,ab3c25cf,ab3c25cf,NaN,NaN,0.0,0.0,43315.26,0.0
1,19694,NaN,NaN,ea6782cc,a55475b1,7241344e,a55475b1,NaN,NaN,NaN,...,NaN,NaN,a55475b1,a55475b1,NaN,170000.0,NaN,NaN,NaN,NaN
2,19694,NaN,NaN,a55475b1,a55475b1,a55475b1,a55475b1,NaN,NaN,NaN,...,NaN,NaN,a55475b1,a55475b1,NaN,NaN,NaN,NaN,NaN,NaN

文件名稱: train_credit_bureau_a_1_2.csv
前3行資料:

,case_id,annualeffectiverate_199L,annualeffectiverate_63L,classificationofcontr_13M,classificationofcontr_400M,contractst_545M,contractst_964M,contractsum_5085717L,credlmt_230A,credlmt_935A,...,residualamount_488A,residualamount_856A,subjectrole_182M,subjectrole_93M,totalamount_6A,totalamount_996A,totaldebtoverduevalue_178A,totaldebtoverduevalue_718A,totaloutstanddebtvalue_39A,totaloutstanddebtvalue_668A
0,40626,0.69,NaN,a55475b1,01f63ac8,a55475b1,7241344e,NaN,NaN,NaN,...,NaN,NaN,a55475b1,a55475b1,4000.0,NaN,NaN,NaN,NaN,NaN
1,40626,0.69,NaN,a55475b1,01f63ac8,a55475b1,7241344e,NaN,NaN,NaN,...,NaN,NaN,a55475b1,a55475b1,7100.0,NaN,NaN,NaN,NaN,NaN
2,40626,38.30,NaN,ea6782cc,01f63ac8,7241344e,7241344e,NaN,NaN,20000.0,...,NaN,19070.8,a55475b1,a55475b1,6000.0,NaN,NaN,NaN,NaN,NaN

文件名稱: train_credit_bureau_a_1_3.csv
前3行資料:

,case_id,annualeffectiverate_199L,annualeffectiverate_63L,classificationofcontr_13M,classificationofcontr_400M,contractst_545M,contractst_964M,contractsum_5085717L,credlmt_230A,credlmt_935A,...,residualamount_488A,residualamount_856A,subjectrole_182M,subjectrole_93M,totalamount_6A,totalamount_996A,totaldebtoverduevalue_178A,totaldebtoverduevalue_718A,totaloutstanddebtvalue_39A,totaloutstanddebtvalue_668A
0,51903,NaN,NaN,ea6782cc,a55475b1,7241344e,a55475b1,13591.00,NaN,30000.0,...,NaN,2718.20,ab3c25cf,a55475b1,NaN,NaN,0.0,NaN,10602.11,NaN
1,51903,NaN,NaN,ea6782cc,a55475b1,7241344e,a55475b1,39419.55,NaN,11260.0,...,NaN,7883.91,a55475b1,a55475b1,NaN,NaN,NaN,NaN,NaN,NaN
2,51903,NaN,NaN,a55475b1,a55475b1,a55475b1,a55475b1,NaN,NaN,NaN,...,NaN,NaN,a55475b1,a55475b1,NaN,NaN,NaN,NaN,NaN,NaN

文件名稱: train_credit_bureau_a_2_0.csv
前3行資料:

,case_id,collater_typofvalofguarant_298M,collater_typofvalofguarant_407M,collater_valueofguarantee_1124L,collater_valueofguarantee_876L,collaterals_typeofguarante_359M,collaterals_typeofguarante_669M,num_group1,num_group2,pmts_dpd_1073P,pmts_dpd_303P,pmts_month_158T,pmts_month_706T,pmts_overdue_1140A,pmts_overdue_1152A,pmts_year_1139T,pmts_year_507T,subjectroles_name_541M,subjectroles_name_838M
0,388,8fd95e4b,a55475b1,0.0,NaN,a55475b1,c7a5ad39,0,0,NaN,NaN,2.0,NaN,NaN,NaN,2018.0,NaN,a55475b1,ab3c25cf
1,388,9a0c095e,a55475b1,0.0,NaN,a55475b1,c7a5ad39,1,0,NaN,NaN,2.0,NaN,NaN,NaN,2018.0,NaN,a55475b1,ab3c25cf
2,388,a55475b1,a55475b1,NaN,NaN,a55475b1,a55475b1,0,1,NaN,NaN,3.0,NaN,NaN,NaN,2018.0,NaN,a55475b1,a55475b1

文件名稱: train_credit_bureau_a_2_1.csv
前3行資料:

,case_id,collater_typofvalofguarant_298M,collater_typofvalofguarant_407M,collater_valueofguarantee_1124L,collater_valueofguarantee_876L,collaterals_typeofguarante_359M,collaterals_typeofguarante_669M,num_group1,num_group2,pmts_dpd_1073P,pmts_dpd_303P,pmts_month_158T,pmts_month_706T,pmts_overdue_1140A,pmts_overdue_1152A,pmts_year_1139T,pmts_year_507T,subjectroles_name_541M,subjectroles_name_838M
0,6683,9a0c095e,a55475b1,0.0,NaN,a55475b1,c7a5ad39,1,0,NaN,NaN,2.0,NaN,NaN,NaN,2017.0,NaN,a55475b1,ab3c25cf
1,6683,8fd95e4b,a55475b1,6700000.0,NaN,a55475b1,0e63c0f0,0,1,NaN,NaN,3.0,NaN,NaN,NaN,2017.0,NaN,a55475b1,a55475b1
2,6683,8fd95e4b,a55475b1,6742800.0,NaN,a55475b1,9276e4bb,0,0,NaN,NaN,2.0,NaN,NaN,NaN,2017.0,NaN,a55475b1,ab3c25cf

文件名稱: train_credit_bureau_a_2_10.csv
前3行資料:

,case_id,collater_typofvalofguarant_298M,collater_typofvalofguarant_407M,collater_valueofguarantee_1124L,collater_valueofguarantee_876L,collaterals_typeofguarante_359M,collaterals_typeofguarante_669M,num_group1,num_group2,pmts_dpd_1073P,pmts_dpd_303P,pmts_month_158T,pmts_month_706T,pmts_overdue_1140A,pmts_overdue_1152A,pmts_year_1139T,pmts_year_507T,subjectroles_name_541M,subjectroles_name_838M
0,56408,a55475b1,8fd95e4b,NaN,0.0,3cbe86ba,a55475b1,0,0,NaN,NaN,NaN,2.0,NaN,NaN,NaN,2012.0,ab3c25cf,a55475b1
1,56408,a55475b1,8fd95e4b,NaN,0.0,c7a5ad39,a55475b1,1,0,NaN,NaN,NaN,2.0,NaN,NaN,NaN,2015.0,ab3c25cf,a55475b1
2,56408,a55475b1,8fd95e4b,NaN,0.0,c7a5ad39,a55475b1,2,0,NaN,NaN,NaN,2.0,NaN,NaN,NaN,2018.0,ab3c25cf,a55475b1

文件名稱: train_credit_bureau_a_2_2.csv
前3行資料:

,case_id,collater_typofvalofguarant_298M,collater_typofvalofguarant_407M,collater_valueofguarantee_1124L,collater_valueofguarantee_876L,collaterals_typeofguarante_359M,collaterals_typeofguarante_669M,num_group1,num_group2,pmts_dpd_1073P,pmts_dpd_303P,pmts_month_158T,pmts_month_706T,pmts_overdue_1140A,pmts_overdue_1152A,pmts_year_1139T,pmts_year_507T,subjectroles_name_541M,subjectroles_name_838M
0,13927,8fd95e4b,a55475b1,0.0,NaN,a55475b1,c7a5ad39,0,0,NaN,NaN,2.0,NaN,NaN,NaN,2017.0,NaN,a55475b1,ab3c25cf
1,13927,a55475b1,a55475b1,NaN,NaN,a55475b1,a55475b1,0,1,NaN,NaN,3.0,NaN,NaN,NaN,2017.0,NaN,a55475b1,a55475b1
2,13927,a55475b1,a55475b1,NaN,NaN,a55475b1,a55475b1,0,2,NaN,NaN,4.0,NaN,NaN,NaN,2017.0,NaN,a55475b1,a55475b1

文件名稱: train_credit_bureau_a_2_3.csv
前3行資料:

,case_id,collater_typofvalofguarant_298M,collater_typofvalofguarant_407M,collater_valueofguarantee_1124L,collater_valueofguarantee_876L,collaterals_typeofguarante_359M,collaterals_typeofguarante_669M,num_group1,num_group2,pmts_dpd_1073P,pmts_dpd_303P,pmts_month_158T,pmts_month_706T,pmts_overdue_1140A,pmts_overdue_1152A,pmts_year_1139T,pmts_year_507T,subjectroles_name_541M,subjectroles_name_838M
0,21161,9a0c095e,a55475b1,0.0,NaN,a55475b1,c7a5ad39,0,0,NaN,NaN,2.0,NaN,NaN,NaN,2017.0,NaN,a55475b1,ab3c25cf
1,21161,a55475b1,a55475b1,NaN,NaN,a55475b1,a55475b1,0,1,NaN,NaN,3.0,NaN,NaN,NaN,2017.0,NaN,a55475b1,a55475b1
2,21161,a55475b1,a55475b1,NaN,NaN,a55475b1,a55475b1,0,2,NaN,NaN,4.0,NaN,NaN,NaN,2017.0,NaN,a55475b1,a55475b1

文件名稱: train_credit_bureau_a_2_4.csv
前3行資料:

,case_id,collater_typofvalofguarant_298M,collater_typofvalofguarant_407M,collater_valueofguarantee_1124L,collater_valueofguarantee_876L,collaterals_typeofguarante_359M,collaterals_typeofguarante_669M,num_group1,num_group2,pmts_dpd_1073P,pmts_dpd_303P,pmts_month_158T,pmts_month_706T,pmts_overdue_1140A,pmts_overdue_1152A,pmts_year_1139T,pmts_year_507T,subjectroles_name_541M,subjectroles_name_838M
0,29427,9a0c095e,a55475b1,0.0,NaN,a55475b1,c7a5ad39,0,0,NaN,NaN,2.0,NaN,NaN,NaN,2019.0,NaN,a55475b1,ab3c25cf
1,29427,a55475b1,a55475b1,NaN,NaN,a55475b1,a55475b1,0,1,NaN,NaN,3.0,NaN,NaN,NaN,2019.0,NaN,a55475b1,a55475b1
2,29427,a55475b1,a55475b1,NaN,NaN,a55475b1,a55475b1,0,2,NaN,NaN,4.0,NaN,NaN,NaN,2019.0,NaN,a55475b1,a55475b1

文件名稱: train_credit_bureau_a_2_5.csv
前3行資料:

,case_id,collater_typofvalofguarant_298M,collater_typofvalofguarant_407M,collater_valueofguarantee_1124L,collater_valueofguarantee_876L,collaterals_typeofguarante_359M,collaterals_typeofguarante_669M,num_group1,num_group2,pmts_dpd_1073P,pmts_dpd_303P,pmts_month_158T,pmts_month_706T,pmts_overdue_1140A,pmts_overdue_1152A,pmts_year_1139T,pmts_year_507T,subjectroles_name_541M,subjectroles_name_838M
0,36830,9a0c095e,8fd95e4b,0.0,0.0,3cbe86ba,c7a5ad39,0,0,NaN,NaN,2.0,2.0,NaN,NaN,2017.0,2013.0,ab3c25cf,ab3c25cf
1,36830,8fd95e4b,8fd95e4b,0.0,0.0,c7a5ad39,c7a5ad39,1,0,NaN,NaN,2.0,2.0,NaN,NaN,2017.0,2016.0,ab3c25cf,ab3c25cf
2,36830,9a0c095e,a55475b1,0.0,NaN,a55475b1,c7a5ad39,2,0,NaN,NaN,2.0,NaN,NaN,NaN,2018.0,NaN,a55475b1,ab3c25cf

文件名稱: train_credit_bureau_a_2_6.csv
前3行資料:

,case_id,collater_typofvalofguarant_298M,collater_typofvalofguarant_407M,collater_valueofguarantee_1124L,collater_valueofguarantee_876L,collaterals_typeofguarante_359M,collaterals_typeofguarante_669M,num_group1,num_group2,pmts_dpd_1073P,pmts_dpd_303P,pmts_month_158T,pmts_month_706T,pmts_overdue_1140A,pmts_overdue_1152A,pmts_year_1139T,pmts_year_507T,subjectroles_name_541M,subjectroles_name_838M
0,42865,9a0c095e,a55475b1,0.0,NaN,a55475b1,c7a5ad39,0,0,NaN,NaN,2.0,NaN,NaN,NaN,2018.0,NaN,a55475b1,ab3c25cf
1,42865,a55475b1,a55475b1,NaN,NaN,a55475b1,a55475b1,0,1,NaN,NaN,3.0,NaN,NaN,NaN,2018.0,NaN,a55475b1,a55475b1
2,42865,a55475b1,a55475b1,NaN,NaN,a55475b1,a55475b1,0,2,NaN,NaN,4.0,NaN,NaN,NaN,2018.0,NaN,a55475b1,a55475b1

文件名稱: train_credit_bureau_a_2_7.csv
前3行資料:

,case_id,collater_typofvalofguarant_298M,collater_typofvalofguarant_407M,collater_valueofguarantee_1124L,collater_valueofguarantee_876L,collaterals_typeofguarante_359M,collaterals_typeofguarante_669M,num_group1,num_group2,pmts_dpd_1073P,pmts_dpd_303P,pmts_month_158T,pmts_month_706T,pmts_overdue_1140A,pmts_overdue_1152A,pmts_year_1139T,pmts_year_507T,subjectroles_name_541M,subjectroles_name_838M
0,49417,9a0c095e,8fd95e4b,0.0,0.0,3cbe86ba,c7a5ad39,0,0,NaN,NaN,2.0,2.0,NaN,NaN,2018.0,2014.0,ab3c25cf,ab3c25cf
1,49417,8fd95e4b,8fd95e4b,0.0,0.0,c7a5ad39,c7a5ad39,1,0,NaN,NaN,2.0,2.0,NaN,NaN,2018.0,2014.0,ab3c25cf,ab3c25cf
2,49417,a55475b1,8fd95e4b,NaN,0.0,c7a5ad39,a55475b1,2,0,NaN,NaN,NaN,2.0,NaN,NaN,NaN,2017.0,ab3c25cf,a55475b1

文件名稱: train_credit_bureau_a_2_8.csv
前3行資料:

,case_id,collater_typofvalofguarant_298M,collater_typofvalofguarant_407M,collater_valueofguarantee_1124L,collater_valueofguarantee_876L,collaterals_typeofguarante_359M,collaterals_typeofguarante_669M,num_group1,num_group2,pmts_dpd_1073P,pmts_dpd_303P,pmts_month_158T,pmts_month_706T,pmts_overdue_1140A,pmts_overdue_1152A,pmts_year_1139T,pmts_year_507T,subjectroles_name_541M,subjectroles_name_838M
0,51083,9a0c095e,9a0c095e,0.0,0.0,c7a5ad39,c7a5ad39,0,0,NaN,NaN,2.0,2.0,NaN,NaN,2018.0,2007.0,ab3c25cf,ab3c25cf
1,51083,8fd95e4b,8fd95e4b,0.0,0.0,3cbe86ba,c7a5ad39,1,0,NaN,NaN,2.0,2.0,NaN,NaN,2019.0,2013.0,ab3c25cf,ab3c25cf
2,51083,a55475b1,8fd95e4b,NaN,0.0,c7a5ad39,a55475b1,2,0,NaN,0.0,NaN,2.0,NaN,0.0,NaN,2018.0,ab3c25cf,a55475b1

文件名稱: train_credit_bureau_a_2_9.csv
前3行資料:

,case_id,collater_typofvalofguarant_298M,collater_typofvalofguarant_407M,collater_valueofguarantee_1124L,collater_valueofguarantee_876L,collaterals_typeofguarante_359M,collaterals_typeofguarante_669M,num_group1,num_group2,pmts_dpd_1073P,pmts_dpd_303P,pmts_month_158T,pmts_month_706T,pmts_overdue_1140A,pmts_overdue_1152A,pmts_year_1139T,pmts_year_507T,subjectroles_name_541M,subjectroles_name_838M
0,53716,8fd95e4b,9a0c095e,0.0,0.0,c7a5ad39,c7a5ad39,0,0,NaN,NaN,2.0,2.0,NaN,NaN,2019.0,2017.0,ab3c25cf,ab3c25cf
1,53716,a55475b1,9a0c095e,NaN,0.0,c7a5ad39,a55475b1,1,0,NaN,NaN,NaN,2.0,NaN,NaN,NaN,2019.0,ab3c25cf,a55475b1
2,53716,a55475b1,9a0c095e,NaN,0.0,c7a5ad39,a55475b1,2,0,NaN,NaN,NaN,2.0,NaN,NaN,NaN,2019.0,ab3c25cf,a55475b1

文件名稱: train_credit_bureau_b_1.csv
前3行資料:

,case_id,amount_1115A,classificationofcontr_1114M,contractdate_551D,contractmaturitydate_151D,contractst_516M,contracttype_653M,credlmt_1052A,credlmt_228A,credlmt_3940954A,...,pmtmethod_731M,pmtnumpending_403L,purposeofcred_722M,residualamount_1093A,residualamount_127A,residualamount_3940956A,subjectrole_326M,subjectrole_43M,totalamount_503A,totalamount_881A
0,467,78000.0,ea6782cc,2016-10-25,2019-10-25,7241344e,4257cbed,NaN,NaN,NaN,...,e914c86c,10.0,96a8fdfe,NaN,NaN,NaN,a55475b1,a55475b1,NaN,NaN
1,467,NaN,ea6782cc,2011-06-15,2031-06-13,7241344e,724be82a,3000000.0,10000.0,3000000.0,...,a55475b1,NaN,96a8fdfe,0.0,0.0,NaN,fa4f56f1,ab3c25cf,3000000.0,10000.0
2,467,NaN,ea6782cc,2019-01-04,2021-08-04,7241344e,724be82a,NaN,NaN,130365.0,...,a55475b1,NaN,96a8fdfe,NaN,NaN,NaN,ab3c25cf,ab3c25cf,78000.0,960000.0

文件名稱: train_credit_bureau_b_2.csv
前3行資料:

,case_id,num_group1,num_group2,pmts_date_1107D,pmts_dpdvalue_108P,pmts_pmtsoverdue_635A
0,467,0,0,2018-11-15,NaN,NaN
1,467,0,1,2018-12-15,NaN,NaN
2,467,1,0,2018-12-15,NaN,NaN

文件名稱: train_debitcard_1.csv
前3行資料:

,case_id,last180dayaveragebalance_704A,last180dayturnover_1134A,last30dayturnover_651A,num_group1,openingdate_857D
0,225,NaN,NaN,NaN,0,2016-08-16
1,331,NaN,NaN,NaN,0,2015-03-19
2,358,NaN,NaN,NaN,0,2014-09-02

文件名稱: train_deposit_1.csv
前3行資料:

   case_id  amount_416A contractenddate_991D  num_group1 openingdate_313D
0      225        0.000                  NaN           0       2016-08-16
1      331      260.374           2018-03-18           0       2015-03-19
2      358        0.000                  NaN           0       2014-09-02

文件名稱: train_other_1.csv
前3行資料:

,case_id,amtdebitincoming_4809443A,amtdebitoutgoing_4809440A,amtdepositbalance_4809441A,amtdepositincoming_4809444A,amtdepositoutgoing_4809442A,num_group1
0,43801,12466.6010,12291.2000,914.2,0.0,304.80002,0
1,43991,3333.4001,3273.4001,0.0,0.0,0.00000,0
2,44001,10000.0000,10000.0000,0.0,0.0,0.00000,0

文件名稱: train_person_1.csv
前3行資料:

,case_id,birth_259D,birthdate_87D,childnum_185L,contaddr_district_15M,contaddr_matchlist_1032L,contaddr_smempladdr_334L,contaddr_zipcode_807M,education_927M,empl_employedfrom_271D,...,registaddr_district_1083M,registaddr_zipcode_184M,relationshiptoclient_415T,relationshiptoclient_642T,remitter_829L,role_1084L,role_993L,safeguarantyflag_411L,sex_738L,type_25L
0,0,1986-07-01,NaN,NaN,P88_18_84,False,False,P167_100_165,P97_36_170,2017-09-15,...,P88_18_84,P167_100_165,NaN,NaN,NaN,CL,NaN,True,F,PRIMARY_MOBILE
1,0,NaN,NaN,NaN,a55475b1,NaN,NaN,a55475b1,a55475b1,NaN,...,a55475b1,a55475b1,SPOUSE,NaN,False,EM,NaN,NaN,NaN,PHONE
2,0,NaN,NaN,NaN,a55475b1,NaN,NaN,a55475b1,a55475b1,NaN,...,a55475b1,a55475b1,COLLEAGUE,SPOUSE,False,PE,NaN,NaN,NaN,PHONE

文件名稱: train_person_2.csv
前3行資料:

,case_id,addres_district_368M,addres_role_871L,addres_zip_823M,conts_role_79M,empls_economicalst_849M,empls_employedfrom_796D,empls_employer_name_740M,num_group1,num_group2,relatedpersons_role_762T
0,5,a55475b1,NaN,a55475b1,a55475b1,a55475b1,NaN,a55475b1,0,0,NaN
1,6,P55_110_32,CONTACT,P10_68_40,P38_92_157,P164_110_33,NaN,a55475b1,0,0,NaN
2,6,P55_110_32,PERMANENT,P10_68_40,a55475b1,a55475b1,NaN,a55475b1,0,1,NaN

文件名稱: train_static_0_0.csv
前3行資料:

,case_id,actualdpdtolerance_344P,amtinstpaidbefduel24m_4187115A,annuity_780A,annuitynextmonth_57A,applicationcnt_361L,applications30d_658L,applicationscnt_1086L,applicationscnt_464L,applicationscnt_629L,...,sellerplacecnt_915L,sellerplacescnt_216L,sumoutstandtotal_3546847A,sumoutstandtotalest_4493215A,totaldebt_9A,totalsettled_863A,totinstallast1m_4525188A,twobodfilling_608L,typesuite_864L,validfrom_1069D
0,0,NaN,NaN,1917.6,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,NaN,NaN,0.0,0.0,NaN,BO,NaN,NaN
1,1,NaN,NaN,3134.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,NaN,NaN,0.0,0.0,NaN,BO,NaN,NaN
2,2,NaN,NaN,4937.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,NaN,NaN,0.0,0.0,NaN,BO,AL,NaN

文件名稱: train_static_0_1.csv
前3行資料:

,case_id,actualdpdtolerance_344P,amtinstpaidbefduel24m_4187115A,annuity_780A,annuitynextmonth_57A,applicationcnt_361L,applications30d_658L,applicationscnt_1086L,applicationscnt_464L,applicationscnt_629L,...,sellerplacecnt_915L,sellerplacescnt_216L,sumoutstandtotal_3546847A,sumoutstandtotalest_4493215A,totaldebt_9A,totalsettled_863A,totinstallast1m_4525188A,twobodfilling_608L,typesuite_864L,validfrom_1069D
0,40626,NaN,NaN,1976.2001,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,NaN,NaN,0.0,0.0,NaN,FO,AL,NaN
1,40704,NaN,NaN,3731.2000,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,NaN,NaN,0.0,0.0,NaN,FO,AL,NaN
2,40734,NaN,NaN,3731.2000,0.0,0.0,1.0,0.0,0.0,0.0,...,1.0,1.0,NaN,NaN,0.0,0.0,NaN,FO,AL,NaN

文件名稱: train_static_cb_0.csv
前3行資料:

,case_id,assignmentdate_238D,assignmentdate_4527235D,assignmentdate_4955616D,birthdate_574D,contractssum_5085716L,dateofbirth_337D,dateofbirth_342D,days120_123L,days180_256L,...,pmtscount_423L,pmtssum_45A,requesttype_4525192L,responsedate_1012D,responsedate_4527233D,responsedate_4917613D,riskassesment_302T,riskassesment_940T,secondquarter_766L,thirdquarter_1082L
0,357,NaN,NaN,NaN,1988-04-01,NaN,NaN,NaN,NaN,NaN,...,6.0,6301.4,NaN,2019-01-25,NaN,NaN,NaN,NaN,NaN,NaN
1,381,NaN,NaN,NaN,1973-11-01,NaN,NaN,NaN,NaN,NaN,...,6.0,4019.6,NaN,2019-01-25,NaN,NaN,NaN,NaN,NaN,NaN
2,388,NaN,NaN,NaN,1989-04-01,NaN,1989-04-01,NaN,6.0,8.0,...,6.0,14548.0,NaN,2019-01-28,NaN,NaN,NaN,NaN,3.0,5.0

文件名稱: train_tax_registry_a_1.csv
前3行資料:

   case_id  amount_4527230A name_4527232M  num_group1 recorddate_4527225D
0    28631            711.0      f980a1ea           3          2019-09-13
1    28631           1946.0      f980a1ea           2          2019-09-13
2    28631           2600.0      f980a1ea           1          2019-09-13

文件名稱: train_tax_registry_b_1.csv
前3行資料:

   case_id  amount_4917619A deductiondate_4917603D name_4917606M  num_group1
0    49435           6885.0             2019-10-16      6b730375           0
1    49435           6885.0             2019-10-16      6b730375           1
2    49435           6885.0             2019-10-16      6b730375           2

文件名稱: train_tax_registry_c_1.csv
前3行資料:

   case_id employername_160M  num_group1  pmtamount_36A processingdate_168D
0      357          c91b12ff           0         1200.0          2019-01-04
1      357          c91b12ff           1         1200.0          2018-11-28
2      357          c91b12ff           2          972.8          2018-11-01

### 資料清理
##### 處理缺失值、重複值、異常值等

### 特徵工程
##### 提取、轉換或建立新特徵以優化模型

In [4]:
import polars as pl

# 讀取訓練數據
train_base = pl.read_csv(trainDir + 'train_base.csv')

static_dfs = [
    pd.read_csv(trainDir + 'train_static_0_0.csv'),
    pd.read_csv(trainDir + 'train_static_0_1.csv')
]
pd_df = pd.concat(static_dfs, ignore_index=True)
del static_dfs
train_static = pl.from_pandas(pd_df)

train_static_cb = pl.read_csv(trainDir + 'train_static_cb_0.csv')
train_person_1 = pl.read_csv(trainDir + 'train_person_1.csv') 
train_credit_bureau_b_2 = pl.read_csv(trainDir + 'train_credit_bureau_b_2.csv') 

# Merge all dataframes using join with how='inner'
train_data = train_base.join(
    train_static, on='case_id', how='inner'
).join(
    train_static_cb, on='case_id', how='inner'
).join(
    train_person_1, on='case_id', how='inner'
).join(
    train_credit_bureau_b_2, on='case_id', how='inner'
)
del train_base
del train_static
del train_static_cb
del train_person_1
del train_credit_bureau_b_2

# 將目標變量和特徵變量分開
X = train_data.drop(columns=['target'])
y = train_data['target']
del train_data

print(X.dtypes)

/tmp/ipykernel_18/450220401.py:7: DtypeWarning: Columns (20,45,46,53,57,84,143,146,167) have mixed types. Specify dtype option on import or set low_memory=False.
  pd.read_csv(trainDir + 'train_static_0_0.csv'),
/tmp/ipykernel_18/450220401.py:8: DtypeWarning: Columns (20,45,46,56,57,84,143,146,167) have mixed types. Specify dtype option on import or set low_memory=False.
  pd.read_csv(trainDir + 'train_static_0_1.csv')

[Int64, String, Int64, Int64, Float64, Float64, Float64, Float64, Float64, Float64, Float64, Float64, Float64, Float64, Float64, Float64, Float64, Float64, Float64, Float64, Float64, Float64, Float64, String, String, Float64, Float64, Float64, Float64, Float64, Float64, Float64, Float64, Float64, Float64, Float64, Float64, Float64, Float64, Float64, Float64, Float64, Float64, Float64, Float64, String, Float64, Float64, String, String, String, Float64, Float64, Float64, String, Float64, String, Float64, Boolean, Boolean, String, String, Float64, Float64, String, Float64, Float64, Boolean, Boolean, Boolean, String, String, String, String, Float64, String, String, String, Float64, Float64, Float64, String, String, Float64, String, String, String, String, String, Float64, Float64, Float64, Float64, Float64, Float64, Float64, Float64, Float64, Float64, String, Float64, Float64, Float64, Float64, Float64, Float64, Float64, Float64, Float64, Float64, Float64, Float64, Float64, Float64, Float64, Float64, Float64, Float64, Float64, Float64, Float64, Float64, Float64, Float64, Float64, Float64, Float64, Float64, Float64, Float64, Float64, Float64, Float64, Float64, Float64, Float64, Float64, Float64, Float64, Float64, Float64, Float64, Float64, Float64, Float64, Float64, Boolean, String, String, String, Float64, Float64, Float64, Float64, Float64, Float64, Float64, Float64, Float64, String, Float64, Float64, Float64, Float64, Float64, Float64, Float64, Float64, String, String, String, String, String, String, String, String, String, String, Float64, Float64, Float64, Float64, Float64, String, String, String, Float64, Float64, Float64, Float64, Float64, Float64, Float64, Float64, Float64, Float64, Float64, Float64, Float64, Float64, Float64, Float64, Float64, Float64, String, String, Float64, Float64, String, String, String, String, Float64, Float64, Float64, String, String, String, String, String, Float64, Float64, Float64, String, String, Float64, String, Boolean, Boolean, String, String, String, String, String, String, String, String, String, String, String, String, Boolean, String, Float64, String, Int64, Float64, Float64, Float64, String, String, String, String, Boolean, String, String, Boolean, String, String, Int64, Int64, String, Float64, Float64]

/tmp/ipykernel_18/450220401.py:35: DeprecationWarning: named `columns` param is deprecated; use positional `*args` instead.
  X = train_data.drop(columns=['target'])

In [5]:
X.dtypes

[Int64,
 String,
 Int64,
 Int64,
 Float64,
 Float64,
 Float64,
 Float64,
 Float64,
 Float64,
 Float64,
 Float64,
 Float64,
 Float64,
 Float64,
 Float64,
 Float64,
 Float64,
 Float64,
 Float64,
 Float64,
 Float64,
 Float64,
 String,
 String,
 Float64,
 Float64,
 Float64,
 Float64,
 Float64,
 Float64,
 Float64,
 Float64,
 Float64,
 Float64,
 Float64,
 Float64,
 Float64,
 Float64,
 Float64,
 Float64,
 Float64,
 Float64,
 Float64,
 Float64,
 String,
 Float64,
 Float64,
 String,
 String,
 String,
 Float64,
 Float64,
 Float64,
 String,
 Float64,
 String,
 Float64,
 Boolean,
 Boolean,
 String,
 String,
 Float64,
 Float64,
 String,
 Float64,
 Float64,
 Boolean,
 Boolean,
 Boolean,
 String,
 String,
 String,
 String,
 Float64,
 String,
 String,
 String,
 Float64,
 Float64,
 Float64,
 String,
 String,
 Float64,
 String,
 String,
 String,
 String,
 String,
 Float64,
 Float64,
 Float64,
 Float64,
 Float64,
 Float64,
 Float64,
 Float64,
 Float64,
 Float64,
 String,
 Float64,
 Float64,
 Float64,
 Float64,
 Float64,
 Float64,
 Float64,
 Float64,
 Float64,
 Float64,
 Float64,
 Float64,
 Float64,
 Float64,
 Float64,
 Float64,
 Float64,
 Float64,
 Float64,
 Float64,
 Float64,
 Float64,
 Float64,
 Float64,
 Float64,
 Float64,
 Float64,
 Float64,
 Float64,
 Float64,
 Float64,
 Float64,
 Float64,
 Float64,
 Float64,
 Float64,
 Float64,
 Float64,
 Float64,
 Float64,
 Float64,
 Float64,
 Float64,
 Float64,
 Float64,
 Float64,
 Boolean,
 String,
 String,
 String,
 Float64,
 Float64,
 Float64,
 Float64,
 Float64,
 Float64,
 Float64,
 Float64,
 Float64,
 String,
 Float64,
 Float64,
 Float64,
 Float64,
 Float64,
 Float64,
 Float64,
 Float64,
 String,
 String,
 String,
 String,
 String,
 String,
 String,
 String,
 String,
 String,
 Float64,
 Float64,
 Float64,
 Float64,
 Float64,
 String,
 String,
 String,
 Float64,
 Float64,
 Float64,
 Float64,
 Float64,
 Float64,
 Float64,
 Float64,
 Float64,
 Float64,
 Float64,
 Float64,
 Float64,
 Float64,
 Float64,
 Float64,
 Float64,
 Float64,
 String,
 String,
 Float64,
 Float64,
 String,
 String,
 String,
 String,
 Float64,
 Float64,
 Float64,
 String,
 String,
 String,
 String,
 String,
 Float64,
 Float64,
 Float64,
 String,
 String,
 Float64,
 String,
 Boolean,
 Boolean,
 String,
 String,
 String,
 String,
 String,
 String,
 String,
 String,
 String,
 String,
 String,
 String,
 Boolean,
 String,
 Float64,
 String,
 Int64,
 Float64,
 Float64,
 Float64,
 String,
 String,
 String,
 String,
 Boolean,
 String,
 String,
 Boolean,
 String,
 String,
 Int64,
 Int64,
 String,
 Float64,
 Float64]

In [6]:
for col in X.columns:
    if not (X[col].dtype in (pl.Int64, pl.Float64)):
        X = X.drop(col)

In [7]:
X.dtypes

[Int64,
 Int64,
 Int64,
 Float64,
 Float64,
 Float64,
 Float64,
 Float64,
 Float64,
 Float64,
 Float64,
 Float64,
 Float64,
 Float64,
 Float64,
 Float64,
 Float64,
 Float64,
 Float64,
 Float64,
 Float64,
 Float64,
 Float64,
 Float64,
 Float64,
 Float64,
 Float64,
 Float64,
 Float64,
 Float64,
 Float64,
 Float64,
 Float64,
 Float64,
 Float64,
 Float64,
 Float64,
 Float64,
 Float64,
 Float64,
 Float64,
 Float64,
 Float64,
 Float64,
 Float64,
 Float64,
 Float64,
 Float64,
 Float64,
 Float64,
 Float64,
 Float64,
 Float64,
 Float64,
 Float64,
 Float64,
 Float64,
 Float64,
 Float64,
 Float64,
 Float64,
 Float64,
 Float64,
 Float64,
 Float64,
 Float64,
 Float64,
 Float64,
 Float64,
 Float64,
 Float64,
 Float64,
 Float64,
 Float64,
 Float64,
 Float64,
 Float64,
 Float64,
 Float64,
 Float64,
 Float64,
 Float64,
 Float64,
 Float64,
 Float64,
 Float64,
 Float64,
 Float64,
 Float64,
 Float64,
 Float64,
 Float64,
 Float64,
 Float64,
 Float64,
 Float64,
 Float64,
 Float64,
 Float64,
 Float64,
 Float64,
 Float64,
 Float64,
 Float64,
 Float64,
 Float64,
 Float64,
 Float64,
 Float64,
 Float64,
 Float64,
 Float64,
 Float64,
 Float64,
 Float64,
 Float64,
 Float64,
 Float64,
 Float64,
 Float64,
 Float64,
 Float64,
 Float64,
 Float64,
 Float64,
 Float64,
 Float64,
 Float64,
 Float64,
 Float64,
 Float64,
 Float64,
 Float64,
 Float64,
 Float64,
 Float64,
 Float64,
 Float64,
 Float64,
 Float64,
 Float64,
 Float64,
 Float64,
 Float64,
 Float64,
 Float64,
 Float64,
 Float64,
 Float64,
 Float64,
 Float64,
 Float64,
 Float64,
 Float64,
 Float64,
 Float64,
 Float64,
 Float64,
 Float64,
 Float64,
 Float64,
 Float64,
 Float64,
 Float64,
 Int64,
 Float64,
 Float64,
 Float64,
 Int64,
 Int64,
 Float64,
 Float64]

In [8]:
from sklearn.model_selection import train_test_split

# 將數據劃分為訓練集和測試集
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)
del X
del y

## 數據分析方法與模型選擇

### 梯度提升樹（Gradient Boosting Decision Tree，GBDT）

In [9]:
import lightgbm as lgb
from sklearn.metrics import accuracy_score, classification_report

# 取得最後三十萬筆資料(ram不夠，sample不work)
X_train = X_train.tail(300000)
y_train = y_train.tail(300000)

y_train = y_train.to_numpy()
y_test = y_test.to_numpy()

In [10]:
# 看target值的分布
np.unique(y_train, return_counts=True)

(array([0, 1]), array([279555,  20445]))

In [11]:
# 過取樣: 增加target=1的data

from sklearn.impute import SimpleImputer
from imblearn.over_sampling import SMOTE

# 創建 SimpleImputer 對象，用於填補NaN值
imputer = SimpleImputer(strategy='mean')

# 填補NaN值
X_train = imputer.fit_transform(X_train)

# 設置合成目標樣本數量
synthetic_target_count = 279555

# 初始化 SMOTE
smote = SMOTE(sampling_strategy={1: synthetic_target_count})

# 使用 SMOTE 生成合成少數類樣本
X_train, y_train = smote.fit_resample(X_train, y_train)

# 檢查合成後的資料量
print("合成後的資料量：", len(X_train))

# 檢查合成後的目標資料分佈
unique, counts = np.unique(y_train, return_counts=True)
print("合成後的目標資料分佈：", dict(zip(unique, counts)))

合成後的資料量： 559110
合成後的目標資料分佈： {0: 279555, 1: 279555}

In [12]:
# 創建 LightGBM 的訓練資料集
lgb_train = lgb.Dataset(X_train, y_train)
lgb_test = lgb.Dataset(X_test, y_test, reference=lgb_train)
del X_train
del y_train

# 設置參數
params = {
    'boosting_type': 'gbdt',         # 使用梯度提升樹
    'objective': 'binary',           # 二元分類任務
    'metric': 'binary_error',        # 評估指標為二元分類錯誤率
    'num_leaves': 31,                # 每棵樹的最大葉子數量
    'learning_rate': 0.05,           # 學習速率
    'feature_fraction': 0.9,         # 特徵抽樣比例
    'bagging_fraction': 0.8,         # 樣本抽樣比例
    'bagging_freq': 5,               # 樣本抽樣的頻率
    'verbose': 0,                    # 顯示訓練信息
    'early_stopping_rounds': 10
}

In [13]:
# 訓練模型
num_round = 100                      # 迭代輪次
bst = lgb.train(params, lgb_train, num_round, valid_sets=[lgb_train, lgb_test])

In [14]:
# 預測
y_pred = bst.predict(X_test, num_iteration=bst.best_iteration)
y_pred_binary = [1 if pred > 0.5 else 0 for pred in y_pred]

# 評估模型
accuracy = accuracy_score(y_test, y_pred_binary)
print("準確率:", accuracy)

# 顯示分類報告
print("分類報告:")
print(classification_report(y_test, y_pred_binary))

/opt/conda/lib/python3.10/site-packages/lightgbm/basic.py:1192: UserWarning: Converting data to scipy sparse matrix.
  _log_warning('Converting data to scipy sparse matrix.')

準確率: 0.9024272030185427
分類報告:
              precision    recall  f1-score   support

           0       0.95      0.95      0.95    536211
           1       0.29      0.29      0.29     39431

    accuracy                           0.90    575642
   macro avg       0.62      0.62      0.62    575642
weighted avg       0.90      0.90      0.90    575642

## Submission

In [15]:
submissionDir = os.path.join(projDir, "csv_files/test/")
submission_path = os.path.join(submissionDir, 'test_base.csv')
X_submission = pd.read_csv(submission_path)

X_submission['date_decision'] = pd.to_datetime(X_submission['date_decision'])
X_submission.insert(1, 'year', X_submission['date_decision'].dt.year)
X_submission.insert(2, 'month', X_submission['date_decision'].dt.month)
X_submission.insert(3, 'day', X_submission['date_decision'].dt.day)
X_submission = X_submission.drop('date_decision', axis=1)
X_submission

   case_id  year  month  day   MONTH  WEEK_NUM
0    57543  2021      5   14  202201       100
1    57549  2022      1   17  202201       100
2    57551  2020     11   27  202201       100
3    57552  2020     11   27  202201       100
4    57569  2021     12   20  202201       100
5    57630  2021      3   16  202201       100
6    57631  2022      6    4  202201       100
7    57632  2022      2    5  202201       100
8    57633  2022      1   25  202201       100
9    57634  2021      1   27  202201       100

In [16]:
y_submission_pred = bst.predict(X_submission, num_iteration=bst.best_iteration, predict_disable_shape_check=True)
y_submission_pred_binary = [1 if pred > 0.5 else 0 for pred in y_submission_pred]
y_submission_pred_binary

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

In [17]:
submission = pd.DataFrame({
    "case_id": X_submission["case_id"].to_numpy(),
    "score": y_submission_pred_binary
}).set_index('case_id')
submission.to_csv("./submission.csv")

In [18]:
pd.read_csv("./submission.csv")

   case_id  score
0    57543      0
1    57549      0
2    57551      0
3    57552      0
4    57569      0
5    57630      0
6    57631      0
7    57632      0
8    57633      0
9    57634      0